extends ../layout
include ../mixins/_input
include ../mixins/_button

block content
  h1 Todos
  form.flex.mt-4(action='/todo' method='POST')
    +input.mr-4(placeholder='text', name='text')
    +button(type='submit' class="flex-no-shrink") Submit
  div(data-controller='todo')
    each todo in todos
      .w-full.rounded.shadow.my-4.bg-white
        .p-4.flex.justify-between
          span.text-sm.text-grey-dark=todo.created.toLocaleString()
          a.cursor-pointer(data-action=`todo#remove` data-id=todo.id)
            i.fas.fa-times
        .px-6.py-4
          span= todo.text

  script(src="/assets/controllers/todo_controller.js")