extends ../layout
include ../mixins/_input
include ../mixins/_button

block content
  h1 Register
  form(action='/register' method='POST')
    +input.mt-4(placeholder='username' name='username')
    +input.mt-4(placeholder='password' type='password' name='password')
    +input.mt-4(placeholder='confirm password' type='password' name='passwordConfirm')
    +button.mt-4(type='submit') Submit
    